# Configuración de MongoDB
MONGO_URI=mongodb://localhost:27017/
DB_NAME=floreria_db

# Configuración opcional (si usas MongoDB Atlas)
# MONGO_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
# DB_NAME=floreria_db